* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Back Image Section (Page 1) */
.back_image {
    width: 100%;
    min-height: 100vh; /* Ensures the first section covers the full height */
    background-image: url(media/Background.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    position: relative;
    z-index: 1;
}

/* Navbar */
nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    width: 80%; 
    z-index: 9999; /* High z-index to stay above all content */
    transition: background-color 0.3s ease-in-out; /* smooth transition for background color */
}



/* Navbar list items */
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #D3D9D4;
    font-weight: 400;
}

nav ul li a:hover {
    text-decoration: none;
    color: #FFBF00;
    font-weight: 600;
}

/* Button styling */
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #212A31;
    background-image: linear-gradient(45deg, #FFBF00, #FCF55F);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

#home{
    scroll-margin-top: 300px;
}

.Title {
    margin-top: 15%;
    max-width: 600px;
    color: #D3D9D4;
}

.Title h1 {
    font-size: 70px;
    color: #D3D9D4;
}

.Title p {
    margin: 10px 0 30px;
    color: #D3D9D4;
    animation-delay: 0.5s;
}

.Title .btn {
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

.btn:hover {
    border-top-right-radius: 30px;
    background-image: linear-gradient(45deg, #FFFAA0, #F5F5DC);
    transform: scale(1.2);
}

/* Image styling */
.feature-img {
    width: 530px;
    position: absolute;
    bottom: 0;
    right: 0%;
}

.feature-img.Animation {
    animation-delay: 1.5s;
}

.Animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.Page2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 10%;
    min-height: 100vh;
    background-color: #848484;
    position: relative;
    z-index: 0; /* Set z-index lower than the navbar to prevent overlap */
}

.video-section {
    flex: 1;
    padding-right: 20px;
}

.text-section {
    flex: 1;
    padding-left: 20px;
}

.text-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color:#FFBF00;
    text-decoration: underline;
}

.text-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #D3D9D4;
}

.feature-img {
    width: 530px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; /* Ensure this doesn't overlap the navbar */
}
